
<body>

    <div class="header">
        Sudoku
    </div>
   
    <table id="buttons" #buttons class="table">
        <tr>  
            <td>
                <table class="table">
                    <tr>
                       <td> <input type="text" maxlength="1" value="5" readonly class="text1"> </td>
                       <td> <input type="text" maxlength="1" value="3" readonly class="text1"> </td> 
                       <td> <input type="text" maxlength="1" name="4" class="text"> </td>   
                    </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" value="6" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="7" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                    </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                      <td> <input type="text" maxlength="1" value="9" readonly class="text1">  </td>
                      <td> <input type="text" maxlength="1" value="8" readonly class="text1"> </td>
                    </tr>
                 </table>
            </td>  
            <td>
                <table class="table">
                     <tr>
                       <td> <input type="text" maxlength="1" name="6" class="text"> </td>
                       <td> <input type="text" maxlength="1" value="7" readonly class="text1"> </td>
                       <td> <input type="text" maxlength="1" name="8" class="text"> </td>
                     </tr>
                     <tr>
                       <td> <input type="text" maxlength="1" value="1" readonly class="text1"> </td>
                       <td> <input type="text" maxlength="1" value="9" readonly class="text1"> </td>
                       <td> <input type="text" maxlength="1" value="5" readonly class="text1"> </td>
                     </tr>
                     <tr>
                       <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                       <td> <input type="text" maxlength="1" name="4" class="text"> </td>
                       <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                     </tr> 
                </table>
            </td>
            <td>
                <table class="table">
                    <tr>
                      <td> <input type="text" maxlength="1" name="9" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                    </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="4" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="8" class="text"> </td>  
                    </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                      <td> <input type="text" maxlength="1" value="6" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="7" class="text"> </td>
                    </tr>  
                  </table>
            </td>
      </tr>
      <tr>
          <td>
              <table class="table">
                  <tr>
                      <td> <input type="text" maxlength="1" value="8" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="9" class="text"> </td>
                  </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" value="4" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="6" class="text"> </td>
                    </tr>
                    <tr>
                      <td> <input type="text" maxlength="1" value="7" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                      <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                    </tr>
              </table>
          </td>
          <td>
               <table class="table">
                  <tr>
                      <td> <input type="text" maxlength="1" name="7" class="text"> </td>
                      <td> <input type="text" maxlength="1" value="6" readonly class="text1"> </td>
                      <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                  </tr>
                  <tr>
                    <td> <input type="text" maxlength="1" value="8" readonly class="text1"> </td>
                    <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                    <td> <input type="text" maxlength="1" value="3" readonly class="text1"> </td>
                  </tr>
                  <tr>
                    <td> <input type="text" maxlength="1" name="9" class="text"> </td>
                    <td> <input type="text" maxlength="1" value="2" readonly class="text1"> </td>
                    <td> <input type="text" maxlength="1" name="4" class="text"> </td>
                  </tr>
               </table> 
          </td>
          <td>
                <table class="table">
                  <tr>
                    <td> <input type="text" maxlength="1" name="4" class="text"> </td>
                    <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                    <td> <input type="text" maxlength="1" value="3" readonly class="text1"> </td>
                  </tr>
                  <tr>
                    <td> <input type="text" maxlength="1" name="7" class="text"> </td>
                    <td> <input type="text" maxlength="1" name="9" class="text"> </td>
                    <td> <input type="text" maxlength="1" value="1" readonly class="text1"> </td>
                  </tr>
                  <td> <input type="text" maxlength="1" name="8" class="text"> </td>
                  <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                  <td> <input type="text" maxlength="1" value="6" readonly class="text1"> </td>
                </table>
          </td>
      </tr>
      <tr>
        <td>
            <table class="table">
                <tr>
                  <td> <input type="text" maxlength="1" name="9" class="text"> </td>
                  <td> <input type="text" maxlength="1" value="6" readonly class="text1"> </td>
                  <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                </tr>
                <tr>
                  <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                  <td> <input type="text" maxlength="1" name="8" class="text"> </td>
                  <td> <input type="text" maxlength="1" name="7" class="text"> </td>
                </tr>
                <tr>
                  <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                  <td> <input type="text" maxlength="1" name="4" class="text"> </td>
                  <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="table">
              <tr>
                <td> <input type="text" maxlength="1" name="5" class="text"> </td>
                <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                <td> <input type="text" maxlength="1" name="7" class="text"> </td>
              </tr>
              <tr>
                <td> <input type="text" maxlength="1" value="4" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" value="1" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" value="9" readonly class="text1"> </td>
              </tr>
              <tr>
                <td> <input type="text" maxlength="1" name="2" class="text"> </td>
                <td> <input type="text" maxlength="1" value="8" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" name="6" class="text"> </td>
              </tr>
            </table>
        </td>
        <td>
            <table class="table">
              <tr>
                <td> <input type="text" maxlength="1" value="2" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" value="8" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" name="4" class="text"> </td>
              </tr>
              <tr>
                <td> <input type="text" maxlength="1" name="6" class="text"> </td>
                <td> <input type="text" maxlength="1" name="3" class="text"> </td>
                <td> <input type="text" maxlength="1" value="5" readonly class="text1"> </td>
              </tr>
              <tr>
                <td> <input type="text" maxlength="1" name="1" class="text"> </td>
                <td> <input type="text" maxlength="1" value="7" readonly class="text1"> </td>
                <td> <input type="text" maxlength="1" value="9" readonly class="text1"> </td>
              </tr>
            </table>
        </td>
      </tr>      
    </table>
      
    </body>