body{
    /*background-color: aliceblue;*/
    background-image: url(src/assets/images/back2.jfif);
    /*background-size: cover;*/
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 10px;
}

mat-panel-title{
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 500;
   
}
.second{
    margin-top: 10%;
    display: flex;
}

.third{
    margin-top: 10%;
    display: flex;
}

p{
    font-weight: 300;
    text-align: justify;
    font-size: large;
}

mat-expansion-panel{
    background-color: rgb(238, 229, 229);
}