<body>
    <div class="first">
    <mat-expansion-panel>
        <mat-expansion-panel-header class="title">
            <mat-panel-title> History of Tic-Tac-Toe: </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Games played on three-in-a-row boards can be traced back to ancient Egypt,where such game boards have been found on roofing tiles dating from around 1300 BCE.

An early variation of tic-tac-toe was played in the Roman Empire, around the first century BC. It was called terni lapilli (three pebbles at a time) and instead of having any number of pieces, each player only had three, thus they had to move them around to empty spaces to keep playing.The game's grid markings have been found chalked all over Rome. Another closely related ancient game is three men's morris which is also played on a simple grid and requires three pieces in a row to finish, and Picaria, a game of the Puebloans.

The different names of the game are more recent. The first print reference to "noughts and crosses" (nought being an alternative word for zero), the British name, appeared in 1858, in an issue of Notes and Queries.The first print reference to a game called "tick-tack-toe" occurred in 1884, but referred to "a children's game played on a slate, consisting in trying with the eyes shut to bring the pencil down on one of the numbers of a set, the number hit being scored". "Tic-tac-toe" may also derive from "tick-tack", the name of an old version of backgammon first described in 1558. The US renaming of "noughts and crosses" as "tic-tac-toe" occurred in the 20th century.

In 1952, OXO (or Noughts and Crosses), developed by British computer scientist Sandy Douglas for the EDSAC computer at the University of Cambridge, became one of the first known video games.The computer player could play perfect games of tic-tac-toe against a human opponent.

In 1975, tic-tac-toe was also used by MIT students to demonstrate the computational power of Tinkertoy elements. The Tinkertoy computer, made out of (almost) only Tinkertoys, is able to play tic-tac-toe perfectly. It is currently on display at the Museum of Science, Boston. 

        </p>
    </mat-expansion-panel>
    </div>

    <div class="second">
    <mat-expansion-panel>
        <mat-expansion-panel-header  class="title">
            <mat-panel-title>  History of Minesweeper: </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Puzzle video games owe their origins to brain teasers and puzzles throughout human history. The mathematical strategy game Nim, and other traditional, thinking games, such as Hangman and Bulls and Cows (commercialized as Mastermind), were popular targets for computer implementation.

The University of Tokyo's 1979 Heiankyo Alien for the PC-8001 and arcades was an early "trap 'em up" puzzle action game. It was a precursor to later puzzle action games such as Lode Runner. Another early action game with puzzle elements was Konami's Loco-Motion (1982), elements of which are seen in Pipe Mania from LucasArts (1989).

Blockbuster, by Alan Griesemer and Stephen Bradshaw (Atari 8-bit, 1981), is a computerized version of the Rubik's Cube puzzle. Snark Hunt (Atari 8-bit, 1982) is a single-player game of logical deduction,a clone of the 1970s Black Box board game. Sokoban's crate-pushing puzzles from 1982 have been widely cloned and its core mechanic incorporated into other games. 
             </p>
    </mat-expansion-panel>
</div>
<div class="third">
    <mat-expansion-panel>
        <mat-expansion-panel-header  class="title">
            <mat-panel-title> History of Sudoku: </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Number puzzles appeared in newspapers in the late 19th century, when French puzzle setters began experimenting with removing numbers from magic squares. Le Siècle, a Paris daily, published a partially completed 9×9 magic square with 3×3 subsquares on November 19, 1892.[7] It was not a Sudoku because it contained double-digit numbers and required arithmetic rather than logic to solve, but it shared key characteristics: each row, column and subsquare added up to the same number.

            On July 6, 1895, Le Siècle's rival, La France, refined the puzzle so that it was almost a modern Sudoku and named it French: carré magique diabolique ('evil magic square'). It simplified the 9×9 magic square puzzle so that each row, column, and broken diagonals contained only the numbers 1–9, but did not mark the subsquares. Although they are unmarked, each 3×3 subsquare does indeed comprise the numbers 1–9 and the additional constraint on the broken diagonals leads to only one solution.
            
            These weekly puzzles were a feature of French newspapers such as L'Écho de Paris for about a decade, but disappeared about the time of World War I.
              
                </p>
    </mat-expansion-panel>
</div>
</body>