<body>
        <div class="content">
            Events/Tournaments Near me:
        </div>
        <div class="icon" (click)="events()">
            <mat-icon>book_online</mat-icon> 
        </div>

        <div class="upcoming">
            Upcoming Events/Tournaments:
        </div>
        <div class="img">
            <!--<img src="assets/images/tournaments.jpg">-->
            <img id="tictac" src="assets/images/tictactournament.jpg">
            <!--<img id="fifa" src="assets/images/fifa2.png">-->
            <!--<img id="pc" src="assets/images/pc.jpg"> -->
        </div>
        
        <button mat-flat-button id="sign" (click)="signup()">SIGN UP</button>
</body>