<body> 
<div class="container">
    <div class="card">
        <div class="names">
            A-45, Aastha Patel <br><br>
            B-56, Vidhi Patel  <br><br>
            C-02, Irish Ajaybharti  <br><br>
            C-04, Akshit Bajaria    <br><br>
            C-21, Khushi Gandhi <br><br>
            C-36, Kirtan Kundal <br><br>
            C-94, Karna Trivedi
        </div>
        <div class="content">
            <a href="http://linkedin.com/" target="_blank"> <img id="logo1" src="assets/images/linkedin.png"> </a>
            <a href="mailto:cutomercare@GameWeb.com"><img id="logo3" src="assets/images/email.png"> </a>
            <a href="https://www.twitter.com/" target="_blank"><img id="logo" src="assets/images/twitter.png"> </a>
        </div>
    </div>
</div>
</body>