<link href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--<body> 
<div class="container1">
    <div class="card2">
        <div class="names3">
            A-58, Aastha Patel <br><br>
            B-43, Vidhi Patel  <br><br>
            C-02, Irish Ajaybharti  <br><br>
            C-04, Akshit Bajaria    <br><br>
            C-21, Khushi Gandhi <br><br>
            C-36, Kirtan Kundal <br><br>
            C-93, Karna Trivedi
        </div>
        <div class="content4">
            <a href="http://linkedin.com/" target="_blank"> <img id="logo1" src="assets/images/linkedin.png"> </a>
            <a href="mailto:cutomercare@GameWeb.com"><img id="logo3" src="assets/images/email.png"> </a>
            <a href="https://www.twitter.com/" target="_blank"><img id="logo" src="assets/images/twitter.png"> </a>
        </div>
    </div>
</div>
</body>-->

<body>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/irish.jpg">
          </div>
          <div class="team-content">
            <h2 class="name">Irish Ajaybharti</h2>
            <h3 class="title">Backend Developer</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture"> 
            <img class="img-fluid" src="assets/images/akhshitt.jpeg">
          </div>
          <div class="team-content">
            <h2 class="name">Akshit Bajaria</h2>
            <h3 class="title">Backend Developer</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/akshit.bajaria" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/karna2.jpeg">
          </div>
          <div class="team-content">
            <h2 class="name">Karna Trivedi</h2>
            <h3 class="title">Game Developer</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/karan.trivedi.739" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="space">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/khushi3.jpeg">
          </div>
          <div class="team-content">
            <h2 class="name">Khushi Gandhi</h2>
            <h3 class="title">Resource Manager</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/profile.php?id=100005718767569" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="spacer">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/aasastha.jpeg">
          </div>
          <div class="team-content">
            <h2 class="name">Aastha Patel</h2>
            <h3 class="title">Resource Manager</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/aastha.patel.77736" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
       <div class="space">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/vidhi.jpg">
          </div>
          <div class="team-content">
            <h2 class="name">Vidhi Patel</h2>
            <h3 class="title">Content Writer</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/vidhi.patel.165033" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
        </div>
      </div>
      
     
      
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="spacer">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/angularr.png">
          </div>
          <div class="team-content">
            <h2 class="name">Kirtan Kundal</h2>
            <h3 class="title">TBD</h3>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" target="_blank" class="fa fa-twitter" ></a></li>
            <li><a href="mailto:cutomercare@GameWeb.com" class="fa fa-envelope" ></a></li>
            <li><a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin" ></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>