<body>
    <div class="container">
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/tic1.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of tic tac toe:</h2>
                <b>1.</b><p> Have the first player go first. Though traditionally, the first player goes with "X", you can allow the first player to decide whether he wants to go with "X"s or "O"s. These symbols will be placed on the board, in the attempt to have three of them in a row. If you're going first, then the best move you can make is to move into the center. This will maximize your chances of winning, since you'll be able to create a row of three "X"s or "O"s in more combinations (4) this way than if you chose a different square. 
                 </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/tac1.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of tic tac toe:</h2>
                <b>2.</b><p>Have the second player go second. After the first player goes, then the second player will play his chance, which will be different from the symbol of the first player. The second player can either try to block the first player from creating a row of three, or focus on creating his or her own row of three. Ideally, the player can do both.  </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/toe1.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of tic tac toe:</h2>
                <b>3.</b><p> Keep alternating moves until one of the players has drawn a row of three symbols or until no one can win. The first player to draw three of his or her symbols in a row, whether it is horizontal, vertical, or diagonal, has won tic-tac-toe. However, if both players are playing with optimal strategy, then there's a good chance that no one will win because you will have blocked all of each other's opportunities to create a row of three. 
                 </p>
            </div>
        </div>
      </div>
      <hr>

      <div class="container">
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/mine.png" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Minesweeper:</h2>
                <b>1.</b><p>Understand the principles behind Minesweeper. Each Minesweeper game starts out with a grid of unmarked squares. After clicking one of these squares, some of the squares will disappear, some will remain blank, and some will have numbers on them. It's your job to use the numbers to figure out which of the blank squares have mines and which are safe to click.
                    -> Minesweeper is similar to a Sudoku puzzle in that your success is largely contingent on being able to eliminate possible answers until only one answer remains.</p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/swe.png" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Minesweeper:</h2>
                <b>2.</b><p>Don't worry about your first click. The first square that you click will never have a mine beneath it.Clicking a square will clear off some of the board while numbering other squares. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/eper.png" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Minesweeper:</h2>
                <b>3.</b><p> Know what the numbers mean. A number on a square refers to the number of mines that are currently touching that square. For example, if there are two squares touching each other and one of the squares has "1" on it, you know that the square next to it has a mine beneath it. 
                </p>
            </div>
        </div>
      </div>
      <hr>

      <div class="container">
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/su11.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Sudoku:</h2>
                <b>1.</b><p> Learn the setup. In a typical sudoku, you'll have a square grid of 9 large squares. Inside each of those larger squares will be 9 smaller squares. When faced with a puzzle, some of those smaller squares will be filled in with numbers from 1 to 9. More difficult puzzles will have fewer squares filled in.
                    ->The larger squares are often outlined with a darker line, while the smaller squares have a thinner line. Also, sometimes the larger squares will be colored in a checkerboard pattern.
                 </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/do1.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Sudoku:</h2>
                <b>2.</b><p>Line up the rows and columns. One basic rule of the game is every column and row must have all of the numbers from 1 to 9. That means that within a row or column, a number cannot repeat. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBox">
                <img src="assets/images/ku1.jpg" id="img1">
            </div>
            <div class="details">
                <h2>Rules of Sudoku:</h2>
                <b>3.</b><p> Pay attention to the numbers in the large squares. Similarly, in each of the 9 large squares, every number from 1 to 9 must appear. Once again, that means that each number can only appear once, as there's only 9 smaller squares in each larger square.
                    ->So, if a large square already has the number “2” in it, you know it can’t include another number “2” anywhere in the square.                  </p>
            </div>
        </div>
      </div>
    
</body>