<mat-toolbar>
  <!--<button mat-icon-button (click)="sidebar.toggle()"> 
    <mat-icon> dehaze </mat-icon>
  </button>-->
  <mat-icon (click)='onToolbarToogle()' id="toolbar"> dehaze</mat-icon> 
  <span class="spacer"> </span>
 <a href="#" class="welcome"> Welcome Page!</a>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidebar class="navigation" id="sidebar" mode="side" opened position="start" 
  [class.list-open]="isSideOpen"   
  [class.list-close]="!isSideOpen">
  
  <mat-card class="card">
  <mat-card-header>
   
      <div><img class="logo" [src]=logo> </div> <!-- <div class="container"> --><mat-card-title class="welcomee">Guest</mat-card-title>
  
      <!--<span class="header">Welcome</span>-->
    </mat-card-header>
    </mat-card>
    <hr class="hrr">
    
    <div class="contain">
      <mat-nav-list class="list" id="list">
        <mat-list-item routerLink="overview" class="item"> 
          <mat-icon> tune </mat-icon><span class="text"> Overview </span>
        </mat-list-item>
        <mat-list-item routerLink="games" class="item"> 
          <mat-icon class="icon">dashboard </mat-icon> <span class="text">Games </span> 
        </mat-list-item>
        <mat-list-item routerLink="events" class="item"> 
          <mat-icon> emoji_events </mat-icon><span class="text"> Events </span>
        </mat-list-item>
        <mat-list-item routerLink="about" class="item"> 
          <mat-icon> help_outline </mat-icon><span class="text"> About </span>
        </mat-list-item>
        <mat-list-item routerLink="settings" class="item"> 
          <mat-icon> settings </mat-icon> <span class="text"> Settings </span>
        </mat-list-item>
        <mat-list-item routerLink="contact" class="item"> 
          <mat-icon> attach_email </mat-icon> <span class="text"> Contact-Us </span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{'margin-left.px': contentMargin, 'transition.s':trans}">
    
      
      
        <div class="cover"> 
    
            <div class="info">
            <h1 class="font-effect-fire-animation"> Game Web Application </h1>
            <p class="font-effect-anaglyph"> This website lets you play different games. </p>
            </div>
            <span class="space"></span>
            <div class="small">
              <p class="font-effect-shadow-multiple">By Group 27</p>
              </div>
        </div>  
          <div class="containe">
              <router-outlet> </router-outlet>  
          
          </div>    

      
    
  </mat-sidenav-content>

</mat-sidenav-container> 

