@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|anaglyph|3d|fire-animation');
.navigation{
    background-color: #1a1f3b;
    width: 240px;
    color: white;
    padding: 15px;
}

.container{
    font-size: 24px;  
}

.hrr{
    display: block;
    -moz-user-input: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.btn{
    width: 0px;
    margin-top: 4px;
    padding-left: 195px;  
}

.card{
    background-color: #1a1f3b;
    color: white;
    border: none;
   
}
.item{
    color: white;
    margin-left: -7px;
    transition: .5s;
}    

.item:hover{
    margin-left:10px;
}
    
.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    background-color: #3f4bb8;
    color: white;
    height: 55px;
}

mat-sidenav-content{
    height: 100vh;
    background: -webkit-repeating-linear-gradient(-1deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #71b7e6);
    overflow-x: hidden;
}

.cover{
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 17%;
    right: 17%;
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgb(241, 241, 217);
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.8);
    padding: 20px;
}

.cover .info{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Rancho;
    font-size: x-large;
   
}
 .info h1{
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1em;
    font-family: Rancho;
    text-align: center;
    color: rgb(4, 15, 39);
    
 }
 .info p{
     margin-bottom: 20px;
     font-size: 1.5em;
     width: 100%;
 }

 .small{
   
     font-size: 1.3em;
     margin-top: 380px;
     margin-left: 105px;
     font-family: Rancho;
     font-size: x-large;
}

.space{
    flex: 1 1 auto;
}

.welcome{
    color: white;
    transition: .8s;
}

.welcome:hover{
    
    font-size: 110%;
    transition: .5s;
}

#sidebar.list-close{
    width: 70px;
    transition: .8s;
}
#sidebar.list-open {
    width: 240px;
    transition: .8s;
}
.text{
    margin-left:20px;
    font-size: 22px;
}

.logo{
    width:67px;
    margin-left:-15px;
    height:56px;
    float: left;
    position: fixed;
    margin-top: 2px;
}

.title{
    float: right;
    margin-bottom: -17px;
    
}

mat-icon{
    font-size: 30px;
    margin-left: -4px;
}

.header{
    position: relative;
   
}

.welcomee{
    margin-left: 26px;
    margin-top: 14px;
    font-size: 35px;
    margin-left: 12px;
    
}
.subtitle{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, .7);
    font-size: medium;
}


