.container{
    
   /* color: #8f9cb5;
    */
    color:  rgba(0, 0, 0, 0.9);
}
.content{
    padding:  35px 0px;
    font-size: 20px
}

.body{
   overflow: hidden;
}
.content1{
    padding: 35px 16px;
    margin-left: 40px;
    font-size: 20px;
}
#no{
    height: 50px;
width: 50%;
background-color: #fc7169;
color:black;
border-radius: 0px;
font-size: 17px;
}

#yes{
    height: 50px;
    width: 50%;
    background-color: #79fa84;
    color:black;
    border-radius: 0px;
    font-size: 17px;
}
.timer{
    font-size: x-large;
    margin-bottom: 5px;
    color: black;
}
