
<body>
    <div class="header">
        Minesweeper
        </div>
    <br><br>
    <div class="btn" id="buttons" #buttons>
        
        <input class="button" type="button" id="1" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="2" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="3" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="4" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="5" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="6" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="7" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="8" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="9" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="10" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="11" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="12" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="13" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="14" (click)="my1($event)" value=" " name="1">
        <input class="bbutton" type="button" id="15" (click)="myBomb($event)" value=" " name="B">
        <input class="bbutton" type="button" id="16" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="17" (click)="my2($event)" value=" " name="2">
        <input class="bbutton" type="button" id="18" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="19" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="20" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="21" (click)="my1($event)" value=" " name="1">
        <input class="bbutton" type="button" id="22" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="23" (click)="my1($event)" value=" " name="1"> 
        <input class="button" type="button" id="24" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="25" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="26" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="27" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="28" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="29" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="30" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="31" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="32" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="33" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="34" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="35" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="36" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="37" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="38" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="39" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="40" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="41" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="42" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="43" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="44" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="45" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="46" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="47" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="48" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="49" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="50" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="51" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="52" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="53" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="54" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="55" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="56" (click)="my1($event)" value=" " name="1">
        <input class="bbutton" type="button" id="57" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="58" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="59" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="60" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="61" (click)="my1($event)" value=" " name="1">
        <input class="bbutton" type="button" id="62" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="63" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="64" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="65" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="66" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="67" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="68" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="69" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="70" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="71" (click)="my3($event)" value=" " name="3">
        <input class="button" type="button" id="72" (click)="my3($event)" value=" " name="3">
        <input class="button" type="button" id="73" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="74" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="75" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="76" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="77" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="78" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="79" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="80" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="bbutton" type="button" id="81" (click)="myBomb($event)" value=" " name="B">
        <input class="bbutton" type="button" id="82" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="83" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="84" (click)="my1($event)" value=" " name="1">
        <input class="bbutton" type="button" id="85" (click)="myBomb($event)" value=" " name="B">
        <input class="button" type="button" id="86" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="87" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="88" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="89" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="90" (click)="mySafe($event)" value=" " name="safe">
        <hr>
        <input class="button" type="button" id="91" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="92" (click)="my2($event)" value=" " name="2">
        <input class="button" type="button" id="93" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="94" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="95" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="96" (click)="my1($event)" value=" " name="1">
        <input class="button" type="button" id="97" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="98" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="99" (click)="mySafe($event)" value=" " name="safe">
        <input class="button" type="button" id="100" (click)="mySafe($event)" value=" " name="safe">
        
    </div>
    <br>
    <div id="reset1" #reset1>
        <!--<input type="reset" class="reset" (click)="myReset($event)" value="{{a}}" name="reset">-->
        <button type="reset" class="reset" style="vertical-align:middle" (click)="myReset($event)" name="reset"><span>Reset</span></button>
    </div>
    
    </body>

    