body{
    position: absolute;
    background-color: antiquewhite;
    /*background-image: url("src/assets/images/minee.png");
    background-size: cover;*/
    width: 100%;
    padding: 20px;
    text-align: center;
}

.btn{
    padding: 10px;
    margin-left: 33%;
    margin-right: 35%;
    text-align: center;
    /*background-color: antiquewhite;*/
}
.header{
    padding: 10px;
    font-weight: bolder;
    font-size: xxx-large;
}
.button{
    margin-left: 10px;
    height: 28px;
    width: 28px;
    font-size: 16px;
    font-family: monospace;
    border-radius: 4px;
}
.button:focus{
    position: relative;
    background-color: rgb(214, 212, 212);
    z-index: 1;
}
.button:hover{
    background-color: rgb(201, 201, 201);
}
.button:active{
    background-color: aqua;
    box-shadow: 0 5px 10px;
}

hr{  
    position: relative;
    display: flex;
    border: .5px solid black;
}

.reset{
 
    display: inline-block;
    border-radius: 4px;
    border: none;
    background-color: #f4511e;
    color: black;
    text-align: center;
    font-size: 28px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.reset span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .reset span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
  .reset:hover span {
    padding-right: 25px;
}
  
  .reset:hover span:after {
    opacity: 1;
    right: 0;
}